
$titleFont: 'BioRhyme', serif;
$titleFont: 'BioRhyme', serif;
$subTitleFont: 'Quicksand', sans-serif;
$sansBodyFont: 'Montserrat', sans-serif;
$serifBodyFont: 'Vollkorn', serif;
$fontColor: white;
$imgOverlayColor: black;

