html {
  height: 100%; }

body {
  background-image: linear-gradient(rgba(255, 165, 55, 0.5) 80%, pink, white);
  margin: 0;
  height: 100%;
  /* width: auto; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* not sure which are necessary */
  /*  https://stackoverflow.com/questions/27623777/how-to-not-repeat-a-css-background-gradient/27623904
        https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats
    
        https://forum.freecodecamp.org/t/solved-preventing-a-gradient-background-from-repeating/74090 */ }

h1, h2 {
  font-family: "Quicksand", sans-serif; }

p {
  font-family: "Montserrat" sans-serif; }

ul {
  list-style-type: none;
  /* Remove bullets */ }

li {
  font-family: "Vollkorn", serif; }

.jumbotron, .nav-link {
  font-family: "BioRhyme", serif;
  background-color: transparent; }

/* FONTS */
/* font-family: 'BioRhyme', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Vollkorn', serif; */
.anchor {
  font-family: "BioRhyme", serif;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-orientation: sideways;
  /* position: fixed; */
  /* text-align: right; <-- not doing anything */ }

.card-img-overlay {
  background-image: linear-gradient(black 1% 5%, transparent);
  opacity: 0;
  transition: 0.3s ease; }

.card-img-overlay:hover, .card-img-overlay:active {
  opacity: 1; }

.modal-content .modal-header {
  background: #ad361f;
  border: none; }

.modal-content .modal-body {
  background: #ad361f;
  color: white; }

.binomial {
  font-family: "Vollkorn", serif;
  font-style: italic;
  color: white;
  background: transparent;
  border: none; }

.zoom-effect-container {
  float: left;
  position: relative;
  width: 640px;
  height: 360px;
  margin: 0 auto;
  overflow: hidden; }

.image-card {
  position: absolute;
  top: 0;
  left: 0; }

.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08); }

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto); }

.one {
  grid-column: 1 / 3;
  grid-row: 1; }

.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3; }

.three {
  grid-column: 1;
  grid-row: 2 / 5; }

.four {
  grid-column: 3;
  grid-row: 3; }

.five {
  grid-column: 2;
  grid-row: 4; }

.six {
  grid-column: 3;
  grid-row: 4; }
