// autumn
$orange = rgb();
$rust = rgb();
$lichen = rgb();
$tan = rgb();

// winter
$purple = rgb();
$gray = rgb();
$green = rgb();
$burghundy = rgb();
$cerrilium = rgb();

// spring
$lime = rgb();
$SpringGreen = rgb();
$darkBrown = rgb();


// summer
$fullGreen = rgb();
$yellow = rgb();
$auburn = rgb();


$modal-red: hsl(10,70,40);
$titleFont: 'BioRhyme', serif;
$subTitleFont: 'Quicksand', sans-serif;
$sansBodyFont: 'Montserrat' sans-serif;
$serifBodyFont: 'Vollkorn', serif;
$fontColor: white;
$imgOverlayColor: black;

html{
    height: 100%;
}
body{
    background-image:linear-gradient(rgba(255,165,55,.5) 80%, pink, white) ;
    margin: 0;
    height: 100%;
    /* width: auto; */
    background-repeat: no-repeat; 
  
    /* background-attachment: fixed; */
    /* not sure which are necessary */
    /*  https://stackoverflow.com/questions/27623777/how-to-not-repeat-a-css-background-gradient/27623904
        https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats
    
        https://forum.freecodecamp.org/t/solved-preventing-a-gradient-background-from-repeating/74090 */
}

h1, h2{
    font-family: $subTitleFont;
}

p{
  font-family: $sansBodyFont;
  
}

ul{
    list-style-type: none; /* Remove bullets */
    // padding: 0; /* Remove padding */
    // margin: 0; /* Remove margins */
  }

// is this a site wide decision or a varied choice?

// ul.no-bullets {
//     list-style-type: none; /* Remove bullets */
//     padding: 0; /* Remove padding */
//     margin: 0; /* Remove margins */
//   }

li{
    font-family: $serifBodyFont;
}

.jumbotron, .nav-link{

    font-family: $titleFont;
    background-color: transparent;
    h1,h2{
        font-family: $titleFont;
    }
}

/* FONTS */
/* font-family: 'BioRhyme', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Vollkorn', serif; */

// change this to sideTitle
.anchor{
    font-family: $titleFont;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-orientation: sideways;
    /* position: fixed; */
    /* text-align: right; <-- not doing anything */
    
}

.card-img-overlay{
    background-image:linear-gradient($imgOverlayColor 1% 5%,transparent);
    opacity: 0;
    transition: 0.3s ease;
    
}

.card-img-overlay:hover, .card-img-overlay:active{
    opacity: 1;
}



.modal-content{
    .modal-header{
        background: $modal-red;
        border: none;
    }
    .modal-body {
        background: $modal-red;
        color: white;
    }
}

.binomial{
    font-family: $serifBodyFont;
    font-style: italic;
    color: $fontColor;
    background: transparent; 
    border:none;
   
}

.card-footer{
    background-color: rgba(34, 139, 34,.5);
    font-family: $serifBodyFont;
    a{
        color: white;
    }
    
}





///////////////////////////////////////
// currently unused ideas

// css grid for blocks

// <!-- css gird solution -->
// <!-- <div class="wrapper">
//     <div class="one">One</div>
//     <div class="two">Two</div>
//     <div class="three">Three</div>
//     <div class="four">Four</div>
//     <div class="five">Five</div>
//     <div class="six">Six</div>
//   </div> -->


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }