body {
  background-image: linear-gradient(rgba(255, 165, 55, 0.5) 80%, pink, white);
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif; }

h1, h2 {
  font-family: "Quicksand", sans-serif; }

ul {
  list-style-type: none; }

.masthead {
  background-color: transparent;
  margin-top: 1vh; }
  .masthead h1, .masthead h2 {
    font-family: "BioRhyme", serif; }

.calendar-img-circle {
  border-radius: 50%;
  object-fit: cover;
  height: 50vh;
  width: 50vh; }

.calendar-card {
  background-color: transparent;
  border: none;
  transition: 0.6s ease-in-out; }

.calendar-card-out {
  transform: translate(-50vh, -40vh); }

.image-label {
  font-family: "Vollkorn", serif;
  font-style: italic;
  color: white;
  position: absolute;
  bottom: -18%;
  padding: 10px;
  border-radius: 5px; }
  .image-label h3 {
    text-shadow: 1.5px 1.5px rgba(10, 78, 92, 0.7); }
  .image-label p {
    text-shadow: 0.5px 0.5px rgba(10, 78, 92, 0.9); }

.nav-link {
  font-family: "BioRhyme", serif;
  transition: 0.4s ease; }

@media (min-width: 576px) {
  .nav-link:hover {
    transform: scale(1.1); } }

@media (max-width: 767.98px) {
  .nav-link:hover {
    transform: translateX(50px) scale(1.15); } }

.sectionTitle {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-orientation: sideways;
  position: fixed;
  right: 0vw;
  top: 25vh;
  border-right: 2px #c4bcbc dashed; }
  .sectionTitle a {
    color: #c4bcbc; }
    .sectionTitle a h2 {
      font-family: "BioRhyme", serif; }

@media (max-width: 767.98px) {
  .sectionTitle {
    z-index: 1000;
    transform: scale(0.7); } }

#titleOverlay {
  background-image: linear-gradient(black 1% 5%, transparent);
  opacity: 0;
  transition: 0.3s ease; }

#titleOverlay:hover, #titleOverlay:active {
  opacity: 1; }

.binomial {
  font-family: "Vollkorn", serif;
  font-style: italic;
  color: white;
  background: transparent;
  border: none; }

.modal-content .modal-header {
  background: #ad361f;
  border: none; }

.modal-content .modal-body {
  background: #ad361f;
  color: white; }

.card-footer {
  font-family: "Vollkorn", serif; }

#publicLands .card-footer {
  background-color: rgba(34, 139, 34, 0.5);
  font-family: "Vollkorn", serif; }
  #publicLands .card-footer a {
    color: white; }

.entries li {
  transition: 0.4s ease;
  text-align: right;
  font-family: "Vollkorn", serif; }

.entries li:hover {
  transform: translateX(-10px) scale(1.15); }

.blog .card-footer {
  background-color: transparent;
  border-top: 2px rgba(128, 128, 128, 0.3) dashed; }

.blog .card {
  border: none; }

.blog .card-title {
  font-family: "BioRhyme", serif;
  background-color: white; }

.blog .card-horizontal {
  height: 80vh;
  display: flex;
  flex: 1 1 auto; }
  .blog .card-horizontal img {
    height: 80vh; }
  .blog .card-horizontal .card-body {
    overflow-y: scroll; }

.columnBondary {
  border-right: 2px rgba(128, 128, 128, 0.3) dashed; }
